<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/output.css" type="text/css">
    <title>Create your account</title>
</head>
<body class="m-0 p-0 box-border font-serif space-y-5">
    <section
        class="w-full flex flex-wrap justify-center items-center p-4 min-h-svh"
    >
        <div class=" w-96 bg-white  relative pt-12 pb-20 rounded-xl">
            <form action="" class="space-y-3" id="form-create-user">
                <p 
                class=" text-gray-500 text-3xl leading-5 w-full text-center block pb-8">
                    Create your account! 
                </p>

                <div
                    class="w-full relative border-solid border-2 border-transparent 
                        rounded bg-slate-200 mb-4"
                >
                    <label for="name">
                        <input id="name" type="text" name="email" placeholder="Enter with your name" required
                        class="outline-none leading-5 text-sm w-full block  bg-transparent text-sky-800 pr-5 my-3 pl-9"
                        >
                    </label>
        
                </div>
                <div
                    class="w-full relative border-solid border-2 border-transparent 
                        rounded bg-slate-200 mb-4"
                >
                    <label for="nick">
                        <input id="nick" type="text" name="email" placeholder="Enter with your Nick" required
                        class="outline-none leading-5 text-sm w-full block  bg-transparent text-sky-800 pr-5 my-3 pl-9"
                        >
                    </label>
        
                </div>

                <div
                    class="w-full relative border-solid border-2 border-transparent 
                        rounded bg-slate-200 mb-4"
                >
                    <label for="email">
                        <input id="email" type="text" name="email" placeholder="Enter with your email" required
                        class="outline-none leading-5 text-sm w-full block  bg-transparent text-sky-800 pr-5 my-3 pl-9"
                        >
                    </label>
        
                </div>
                <div
                    class="w-full relative border-solid border-2 border-transparent 
                    rounded bg-slate-200 mb-4"
                >
                    <label for="password">
                        <input id="password" type="password" name="password" required placeholder="Enter with your password"
                        class="outline-none leading-5 text-sm w-full block  bg-transparent text-sky-800 pr-5 my-3 pl-9"
                        >
                    </label>
                </div>

                <div
                    class="w-full relative border-solid border-2 border-transparent 
                    rounded bg-slate-200 mb-4"
                >
                    <label for="confirm-password">
                        <input id="confirm-password" type="password" name="password" required placeholder="confirm your password"
                        class="outline-none leading-5 text-sm w-full block  bg-transparent text-sky-800 pr-5 my-3 pl-9"
                        >
                    </label>
                </div>

                <div class="flex flex-row-reverse">
                    <button
                        type="submit"
                        class=" bg-sky-600 ring-1 text-slate-300
                        px-4 py-2 m-3 mr-2 rounded-lg relative
                         hover:bg-sky-500  hover:text-white"
                    >
                        Create account
                    </button>
                    <a href="/login" class="text-lg text-sky-800 underline hover:no-underline mt-4">Click here to sing in</a>
                </div>
            </form>
        </div>
    </section>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/create-user.js"></script>
</body>
</html>